@model LoginRegistration.Models.User

<div class="jumbotron col-6 bg-transparent text-white offset-7">
    <h1 class="text-left">Register</h1>
    <small id="emailHelp" class="form-text text-muted">Already Registered? <a href="/login">Login</a></small>
    <form asp-action="Register" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control col-10" placeholder="First Name">
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control col-10" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control col-10" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control col-10" type="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label asp-for="PWConfirm"></label>
            <input asp-for="Password" class="form-control col-10 border rounded"  type="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">Sign Up!</button>
    </form>
</div>