@model CrudDelicious.Models.AllDishes;
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to CRUDelicious</h1>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-info btn-lg" href="/new" role="button">Add A Dish</a>
  </p>
</div>
<div class="jumbotron text-center">
  <h3>Check out some recent dishes</h3>
  <hr class="my-4">
  @{
    foreach(var dish in @Model.alldishes)
    {
      <div>
        <p><a href="/view/@dish.DishID">@dish.Name</a> by @dish.Chef</p>
      </div>
    }
  }
</div>