.login-bg{
    background-image: url('/static/login_register/img/books.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.signup{
    padding-top:-30px;
}

.login-title{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 3em;
}

.welcome{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 6em;
}

.top{
    vertical-align: top;
}

.login-button{
    font-family: 'ZCOOL QingKe HuangYou', cursive;

}