
body {
    /* background-color: black; */
}

div.row div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
}

div.brick {
    background-color: blue;
    
}

div.coin {
    background: url('images/coin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

div.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#pacman {
    background: url('images/pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#score {
    background-color: black;
    height: 40px;
    width: 440px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding-block-start: 20px;
    letter-spacing: 1px;
    color: white;

}



           
