@model LoginViewModel

<div class="jumbotron col-6 bg-transparent text-white">
    <h1 class="text-left">Login</h1>
    <small>Not Registered Yet? <span><a href="/">Sign Up Here</a></span> </small>
    <form action="/login/submit" method="post">
        <div class="form-group">
            <label asp-for="LoginUser.Email"></label>
            <input asp-for="LoginUser.Email" class="form-control col-10" placeholder="Email">
            <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LoginUser.Password"></label>
            <input type="password" asp-for="LoginUser.Password" class="form-control col-10" placeholder="Password">
            <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
