<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All Artists</h1>
    {% for artist in artists %}
        <p>Name: {{artist["name"]}}</p>
        <p>Birthdate: {{artist["birthday"]}}</p>
    {% endfor %}
    
    <h1>Add an Artist</h1>
    <form action="/create" method="POST">
        <p>Name: <input type="text" name="name"></p>
        <p>Birthdate: <input type="date" name="bday"></p>
        <p>Deathdate: <input type="date" name="death"></p>
        <input type="submit" value="Add Artist">
    </form>
</body>
</html>