<div class="jumbotron">
  <h1 class="display-4">You Lose!</h1>
  <p class="lead">You Dojoachi died and you should feel bad for being a terrible owner.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/reset" role="button">Restart</a>
  </p>
</div>