<div class="jumbotron">
  <h1 class="display-4">You Win!</h1>
  <p class="lead">You are a great Dojoachi Owner!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/reset" role="button">Restart</a>
  </p>
</div>