@model DojoSurveyWithModels.Models.Survey

<div class="jumbotron">
    <h1 class="display-4">Submited Info:</h1>
    <h3>Name: @Model.Name </h3>
    <h3>Dojo Location: @Model.Location </h3>
    <h3>Favorite Language: @Model.Language</h3>
    <h3>Comments: @Model.Comments</h3>
</div>