<nav class="navbar navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="#">
      <img src="https://www.freepnglogos.com/uploads/a-letter-logo-png-4.png" width="40" height="40" class="d-inline-block align-top" alt="">
      Favorite Authors
    </a>
    <button [routerLink]="['/home']" type="button" class="nav-btn btn btn-secondary">Home</button>
    <button [routerLink]="['/new']" type="button" class="nav-btn btn btn-secondary">Add Author</button>
  </div>
</nav>

<router-outlet></router-outlet>
