<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Mongoose App</title>
</head>
<body>
    <h1>All Users</h1>
    <% for(var user in users){ %>
    <h5>Name: <%= users[user].name %> Age: <%= users[user].age %>   </h5>
    <% } %>

    <h1>Create New User</h1>
    <form action="/users" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="">

        <label for="age">Age:</label>
        <input type="text" name="age" id="age">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>