<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class='bg-dark text-white'>
    <h1 class="text-center">NINJA GOLD</h1>
    <div class="container row bg-secondary col-4 rounded border border-white offset-4 mb-2">
        <h1 class=" container text-center">Your Gold: 0</h1>

    </div>
    <div class="container-fluid row col-12 bg-primary text-center border border-white">

        <div class="jumbotron col-3 text-dark text-center mt-4 container border border-dark">
            <h3 class="display-4">FARM</h3>
            <p class="lead">(Earns 10-20 gold)</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Find Gold</a>
            
        </div>
        <div class="jumbotron col-3 text-dark text-center mt-4 container border border-dark">
            <h3 class="display-4">CAVE</h3>
            <p class="lead">(Earns 5-10 gold)</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Find Gold</a>
            
        </div>
        <div class="jumbotron col-3 text-dark text-center mt-4 container border border-dark">
            <h3 class="display-4">HOUSE</h3>
            <p class="lead">(Earns 2-5 gold)</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Find Gold</a>
            
        </div>
        <div class="jumbotron col-3 text-dark text-center mt-4 container border border-dark">
            <h3 class="display-4">CASINO</h3>
            <p class="lead">(Earns/Takes 0-50 gold)</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Find Gold</a>
            
        </div>
    </div>
    
    
</body>
</html>