<div *ngIf="weather" class="jumbotron container">
    <div class="container">
      <h1 class="display-4 text-center">Tulsa Weather</h1>
      <hr class="my-4">
        <div class="row">
            <div class="col-5">
                <div>
                  <img id="icon" src="http://openweathermap.org/img/w/{{iconCode}}.png" alt="">
                  <h3>Forecast: {{ weather['weather'][0]['description']  }}</h3>
                  <h3>Temp: {{ temp }} &deg;F </h3>
                  <h3>High: {{ high  }} &deg;F</h3>
                  <h3>Low: {{ low  }} &deg;F </h3>
                </div>
            </div>
            <div class="col-5">
                <img  class="city"src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/04/07/104391745-GettyImages-185061784.1910x1000.jpg" alt="">
            </div>
        </div>
  </div>
</div>
