<nav class="nav bg-secondary p-2 text-white">
  <h3>Bright Ideas</h3>
  <h4 class="offset-6 pt-1">Welcome, @ViewBag.Name</h4>
  <a class="btn btn-outline-light offset-1" href="/logout" role="button">Logout</a>
</nav>