@model RandomPasscode.Models.Code;

<div class="jumbotron">
  <h1 class="display-4 text-center">Random Passcode</h1>
  <p class="lead text-center">(Passcode #@ViewBag.count)</p>
  <div class="container bg-info text-white text-center col-8 border-white rounded p-2">
      @{
          string display = "";
          foreach(var thing in @Model.RandomCode)
            {
                display += thing;
            }
            <h3>@display</h3>
      }
  </div>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-info btn-lg text-center offset-5" href="/" role="button">Generate Code</a>
  </p>
</div>