<div *ngIf="author" class="jumbotron text-center">
    <h1 class="display-4">Edit Author</h1>
    <hr class="my-4">
    <form class="offset-4">
        <div class="form-row">
          <div class="col-5">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input name="nameToUpdate" [(ngModel)]="nameToUpdate" type="text" class="form-control mb-2" value="{{nameToUpdate}}">
          <div *ngIf="errors['name']" class="text-danger">{{errors['name']}}</div>
          </div>
          <div class="col-auto">
            <button (click)="updateAuthor()" type="submit" class="btn btn-primary mb-2">Submit</button>
          </div>
        </div>
      </form>
  </div>
