<nav aria-label="breadcrumb">
  <h1 class="text-white">DOJO WEATHER</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" >Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/tulsa']" >Tulsa</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/dallas']" >Dallas</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/seattle']" >Seattle</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/chicago']" >Chicago</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/burbank']" >Burbank</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/washington-dc']" >Washington D.C.</a></li>
  </ol>
</nav>


<router-outlet></router-outlet>
