<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="jumbotron container col-8 mt-5 text-center">
        <h1>The Current Time is:</h1>
        @{
            DateTime CurrentTime = DateTime.Now;
            <h1>@CurrentTime.ToString("hh:mm:ss tt")</h1>
            
        }

    </div>
    
</body>
</html>