<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>CATS</title>
</head>
<body class="center-align">
    <div class="container">
        <h1>Cats!</h1>
        <a class="waves-effect waves-light btn" href="/cars"><i class="material-icons left">directions_car</i>Cars</a>
    </div>
    <img src="/images/cats/1.jpg" alt="cat1">
    <img src="/images/cats/2.jpg" alt="cat2">
    <img src="/images/cats/3.jpg" alt="cat3">
    
</body>
</html>